#linux backup files
*~
*.swp
*.dvi
*.ps
*.backup
*.aux

#logs
*.log

#PDFs
*.pdf

*.lof
*.lot
*.bbl
*.blg
*.brf
*.toc
*.idx

# VS code files

tcc.synctex.gz
tcc.ind
tcc.ilg
tcc.fls
tcc.fdb_latexmk
main.synctex.gz
main.ind
main.ilg
main.fls
main.fdb_latexmk